body {
    background-color: #5773E3; /* Change this to your preferred color */
    color: #333333; /* Adjust text color for readability */
}

.site-header {
    background-color: #1F618D; /* Change header color */
}

.site-footer {
    background-color: #002266; /* Change footer color */
}

a {
    color: #ff6600; /* Change link color */
}
