body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page-header {
    background: linear-gradient(to right, #CD6155, #E67E22); /* Adjust colors */
    color: white !important;
    padding: 20px;
    text-align: center;
}

/* Change the color of section titles (Hi there!, Skills, etc.) */
h1:not(.page-header h1),
h2:not(.page-header h1),
h3:not(.page-header h1) {
    color: #EC7063 !important; /* Change this to your preferred color */
    font-weight: bold;
    margin-top: 20px;
}

footer {
    display: none;
}
