body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page-header {
    background: linear-gradient(to right, #CD6155, #E67E22); /* Adjust colors */
    color: white !important;
    padding: 20px;
    text-align: center;
}

/* Change the color of main section titles */
h1, h2, h3 {
    color: #EC7063 !important; /* Change to any color you like */
    font-weight: bold;
    margin-top: 20px;
}

/* Optional: Add a subtle shadow to the titles */
h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    display: none;
}
